#bevel {
    background: rgba(17,17,17,0.98);
    height: 100%;
    width: 260px;
    overflow: hidden;
	right:-259px;
    top: 0px;
    bottom:0px;
    position:absolute;
    z-index: 150;
    -webkit-transition: right 300ms ease-in-out;
}
#bevel:hover {
	right: 0px;
}

/* Sosmed */
#sosial_media {
	margin-top: 30px;
	padding: 2px 0;
	width:100%;
	height: 24px;
	color:#ccc;
	text-align:center;
	cursor:default;
	font-size: 14px;
	font-family:'Ubuntu Condensed';
}
.sosmed {
	padding-top: 0px;
	position: relative;
	width:100%;
	height:auto;
	text-align:center;
}
.sosmed a img {
	display:inline;
	width:18px;
	height:18px;
	padding: 4px 17px;
	background: #333;
	color: #aaa;
	cursor:pointer;
	border-radius: 3px;
	border: 1px solid #111;
	opacity:0.9;
}
.sosmed a:hover img {
	background-color: #444;
	-webkit-transition: all 0.2s ease-in-out;
	opacity:1;
}

/* Music Player */
#player, #control {
	margin-top: 10px;
	padding-top: 10px;
	color: #ccc;
	width:100%;
	height: auto;
	text-align:center;
	border-top: 1px solid #0a0a0a;
	font-size: 14px;
	font-family:'Ubuntu Condensed';
	cursor:default;
}
#buttons{
    margin-top: 15px;
	width:auto;
	height: 28px;
	float:center;
}
#buttons img {
	width: 16px;
	height: 16px;
	margin:0;
	padding: 5px 15px;
	float:center;
}
#buttons li {
	display: inline-block;
	text-decoration:none;
	margin: 0px 2px;
	background: #333;
	border-radius: 20px;
	border: 1px solid #111;
	box-shadow: 0 0 1px #000;
	cursor: pointer;
}
#buttons li:hover, 
#buttons .selected img {
	background-color: #444;
	-webkit-transition: all 0.2s ease-in-out;	
}

/* weather */
#weather-wrapper{
	margin-top: 10px;
	padding: 10px 0px 5px 0px;
	background: transparent;
	color: #ccc;
	height: auto;
	border-top: 1px solid #0a0a0a;
	border-left: 2px solid #111;
	border-right: 2px solid #111;
	font-size: 14px;
	font-family:'Ubuntu Condensed';
	cursor: default;
}
.settings-container{
	width:52px;
	float:right;
	margin-top: -20px;
	z-index:1000;
	position:absolute;
	right:5px;
}
#weather-wrapper .settings-container img{
    width:15px;
    padding:5px;
    cursor: pointer;
    opacity: 0.8;
}
.sync.busy {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 6;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
#weather-wrapper .settings-container img:hover {
	opacity: 1;
}
#weather {
	background: transparent;
	width:100%;
	height: 130px;
	font-family: 'Aurulent Sans';
	display: inline-block;
	overflow-y:hidden;
	margin-top: 5px;
	padding: 0px;
}
#inputLokasi {
	background:#DDD;
	color:#1A1A1A;
	border:2px solid #4D4D4D;
	margin-top: 10px;
	height:27px;
	padding:5px;
}
.text {
	font-size:14px;
	color:#aaa;
}
#weather-setting {
	width: 100%;
	height: 90px;
	background: #111;
	margin-top:10px;
}
#weather-setting .bg-chooser{
	width:100%;
	margin-top:7px;
}
#weather-setting span{
	height:18px;
	width:20px;
	border:2px solid #4D4D4D;
	float:center;
	display:inline-block;
}
#weather-info {
	width:100%;
	margin:0 auto 0 auto;
	cursor: default;
}
#weather-info-error {
	width:180px;
	height: 100px;
	margin:0px auto 0 auto;
	padding-top: 30px;
	cursor: default;
	font-size: 12px;
}
.lokasi{
	margin-top:10px;
	width:100%;
	font-size:18px;
	color:#E5E5E5;
	font-family:'Ubuntu Condensed';
	letter-spacing: -1px;
}
.ikon{
	margin-top: 10px;
	width:38%;
	height:100%;
	height: 100px;
	float:left;
}
.info{
	margin-top: 5px;
	width:auto;
	font-size: 11px;
	text-align: left;
	margin-right: auto;
	letter-spacing: 0px;
}
.info h1{
	width: 100%;
	margin:auto;
	font-family:'Aurulent Sans';
	font-size: 28px;
	letter-spacing:-2px;
}

/* System setting */
#system_settings {
	margin-top: 0px;
	padding: 10px 0px 5px 0;
	background: transparent;
	height: 24px;
	text-align:center;
	cursor:default;
	border-top: 1px solid #0a0a0a;
}
.system {
	margin-top: 0px;
	margin-left: 3px;
	padding: 0px;
	background: transparent;
	width: auto;
	height: auto; /* scrolled 175px;*/
	text-align:center;
	overflow-y:auto;
	border-bottom: 0px solid #0a0a0a;
}
.system img {
	width:28px;
	height:28px;
	margin-bottom: 5px;
	padding: 0px 1px 0 1px;
	text-align:center;
}
.system span {
	font-family:'Ubuntu Condensed';
	font-size: 12px;
	color:#888;
	text-align:center;
}
.system li {
	text-decoration:none;
	display: inline-block;
	width: 55px;
	height: 45px;
	margin: 0px;
	padding: 5px 10px;
	text-align:center;
	border: 1px solid transparent;
	border-radius: 2px;
	cursor:pointer;
	opacity: 0.85;
}
.system li:hover {
    background-color: #222;
	opacity: 1;
	color: #eee;
	-webkit-transition: all 0.2s ease-in-out;
}
#time {
	position: fixed;
	background: #1a1a1a;
	color: #bbb;
	bottom: 0px;
	padding: 5px 0 10px;
    cursor: default;
    text-align: center;
    border-top: 1px solid #000;
}
#clock-time {
	width: 260px;
	height: 45px;
	font-family: 'TrendexLightSSi.ttf';
	display: block;
	font-size: 42px;
	letter-spacing: 0;
	text-shadow: 0 0px 2px #000;
}
#clock-date {
	font-size: 12px;
	font-family: 'Aurulent Sans';
	letter-spacing: 0;
	text-shadow: 0 0px 2px #000;
}

/***********************************
 * Fonts Collections *
 * *********************************/
@font-face {
    font-family: 'TrendexLightSSi.ttf';
    src: url(../fonts/TrendexLightSSi.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Aurulent Sans';
    src: url(../fonts/AurulentSans-Regular.otf);
    font-weight: 600;
}
@font-face {
    font-family:'ClimaconsRegular';
    src: url('../fonts/climacons-webfont.eot');
    src: url('../fonts/climacons-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/climacons-webfont.woff') format('woff'), url('../weather/fonts/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('../fonts/ubuntu.woff') format('woff');
}
